/* 4 - Trabalhar o estilo do body e div 'menu' */
body{
    /* remover as margens padrões do body */
    margin: 0;
    /* Cor de fundo para ao body */
    background: rgba(24, 86, 105, 0.793);
    /* Escolher tipo da letra/font */
    font-family: Arial, Helvetica, sans-serif;
    /* Cor do texto */
    color: white;
}

.menu{
    /* Cor de fundo para a div menu */
    background: white;
    /* Cor do texto para o menu */
    color: rgba(223, 126, 8, 0.815);
    /* Alterar o layout da div menu para flexivel */
    display: flex;
    /* Espaçamento uniforme entre as divs do menu */
    justify-content: space-between;
    /* Espaçamento interno */
    padding: 10px 15px;
}

.streparava{
    font-size: 30px;
}
.usuario{
    /* Torna a div flexivel */
    display: flex;
    /* Espaço entre os elementos da div 'usuarios'*/
    gap: 10px;
    font-size: 30px;
}

.botao-sair{
    /* botão sem cor de fundo */
    background: none;
    /* botao sem borda */
    border: none;
    /* cursor do mouse  */
    cursor: pointer;
    padding: 0;
}

.icone-sair{
    width: 25px;
    height: 25px;
}

.botao-sair:hover .icone-sair:hover{
    /* Efeito de brilho sobre o icone-sair */
    filter: brightness(0.8);
}

.opcoes{
    /* Adiconar uma linha fina (2px) branca (white) abaixo (botton) dos botões */
    border-bottom: 2px solid white ;
}

.opcoes button{
    /* Cor de fundo */
    background: rgba(14, 173, 188, 0.467); 
    /* cor do texto */
    color: #fff;
    /* Remover borda */
    border: none;
    /* Espaçamento interno */
    padding: 10px 15px;
    /* espaço entre os botões */
    margin: 4px;
    /* Tamanho da fonte */
    font-size: 16px;
    /* habilitar cursor */
    cursor: pointer;
    /* Cantos arredondados */
    border-radius: 8px;
}

.opcoes button:hover{
    /* Cor de fundo para o efeito hover */
    background-color: rgba(96, 175, 199, 0.793); 
    /* efeito de movimentação do botão */
    transform: translateY(-3px);
}

#conteudo{
    /* com de fundao para a área de conteúdo */
    background: rgba(97, 156, 174, 0.793);
    /* espaçamento ente os elementos de 'conteúdo' */
    padding: 20px;
    /* margem superior */
    margin-top: 15px;
    /* borda com cantos arredendados */
    border-radius: 8px;

    width: 30%;
}

#conteudo p {
    /* Cor da letra */
    color: red;
    /* Fonte negrito */
    font-weight: bold;
}























































