body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

.card {
    background: rgba(27, 27, 27, 0.97);
    border-radius: 16px;
    color: #fff;
}

.form-label {
    color: #fff;
}

.btn-success {
    font-weight: bold;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    background: #fff;
    color: #1b1b1b;
}