/* Estilo geral do corpo */
body {
    background-image: url(../img/bg.jpg); /* Imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Não repete a imagem de fundo */
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente */
}

/* Estilo do formulário */
.formulario {
    position: relative;
    background-color: #1b1b1b;
    max-width: 1100px; /* Aumenta a largura para acomodar as seções lado a lado */
    width: 400px;
    height: 900px;
    padding: 40px; /* Mais espaçamento interno */
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(95, 13, 13, 0.7);
    border-radius: 10px; /* Bordas arredondadas */
}

/* Título do formulário */
.formulario h2 {
    color: white;
    margin-bottom: 20px;
}

/* Estilo da seção de usuário */
.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilo do formulário e layout */
.formulario form {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    gap: 20px; /* Espaçamento entre as seções */
    width: 100%;
}

/* Estilo das seções */
.secao-container {
    display: flex; /* Coloca as seções lado a lado */
    gap: 20px; /* Espaçamento entre as seções */
    justify-content: space-between;
}

.secao {
    flex: 1; /* Faz as seções ocuparem o mesmo espaço */
    text-align: center;
}

.formulario .secao h3 {
    color: white;
    margin-bottom: 10px;
}

/* Estilo dos inputs */
.formulario input {
    width: 96%; /* Inputs ocupam quase toda a largura da seção */
    padding: 12px; /* Ajuste no espaçamento interno */
    margin: 5px 0; /* Espaçamento entre os inputs */
    border: 0;
    border-radius: 5px;
    background: #d4d0d0;
    font-size: 16px; /* Tamanho da fonte maior */
    outline: none;
}
.formulario p{
    color: white;
    margin: 15px 0 2px; /* Espaçamento entre os parágrafos */
    text-align: left;
}
/* Botão cancelar */
.cancel {
    background-color: red;
    width: 100%;
    height: 45px; /* Altura ajustada */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte maior */
}

.cancel:hover {
    background-color: #d82d2d;
}

/* Botão confirmar */
.confirm {
    background-color: green;
    width: 100%;
    height: 45px; /* Altura ajustada */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte maior */
}

.confirm:hover {
    background-color: #28a745;
}